header {
  display: flex;
  align-items: center;
  padding: 32px 100px;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
}

nav a {
  padding: 10px;
}

nav a.active {
  color: rgba(105, 108, 255, 1);
}

.header--logo {
  width: 251px;
  height: 40px;
}

.header--button__login {
  background: none;
  color: rgba(35, 35, 35, 1);
  font-size: 18px;
  font-weight: 500;
}
